/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.dusk.local
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
Thumbs.db

# for webpack + npm
public/mix-manifest.json
public/images
public/js
public/css
public/vendor_assets/
public/extensions_assets/*
!public/extensions_assets/.gitkeep
change-assets.log.txt

/public/vendor
deploy.ini
/npm-debug.log
/.idea
*.orig
behat.yml
features/
.env.behat
storage/exports/
storage/files/*
!storage/files/.gitkeep
public/themes/frontend/jupiter/assets/app/img/logo_new.png

.php-cs-fixer.cache

vendor-bin/live/libraries
vendor-bin/live/vendor
vendor-bin/live/extensions.dev.json
vendor-bin/live/config.local.json

vendor-bin/dev/libraries
vendor-bin/dev/vendor
vendor-bin/dev/composer.lock
vendor-bin/dev/extensions.dev.json
vendor-bin/dev/config.local.json

workbench/
workbench/bct/

public/themes/admin/
resources/themes/admin/
resources/lang/vendor
tests/Browser/*/.idea
